pymupdf 
python-pptx
paddleocr==3.2.0
pdf2image>=1.17
pillow>=10.0
python-pptx>=0.6.23
paddlepaddle==3.1.1

# optional
opencv-python>=4.10
rapidfuzz>=3.9
tiktoken>=0.7
matplotlib

# model
numpy
faiss-cpu
pyarrow
fastparquet
sentence-transformers
FlagEmbedding
tqdm
scikit-learn

# llm
openai

# webapp
streamlit
fastapi>=0.115
uvicorn[standard]>=0.30
pydantic>=2.7
watchfiles>=0.24

# optional: qdrant support
qdrant-client